*{
  box-sizing: border-box;
}

#root{
  margin: 0 auto;
  max-width: 500px;
}

.rootBorder{
  border: 2px solid #dc143c;
  border-radius: 10px;
}

.listItem + .listItem{
  margin-top: 15px;
  border-top: 2px solid darkblue;
}

.flexContainer{
  display: flex;
  padding: 10px 25px;
  justify-content: space-between;
}

.listItem{
  max-width: 500px;
}

.userText{
  margin-right: 35px;
  font-size: 2rem;
  max-width: 75%;
}